<h1>Dashboard</h1>


<sb-card *ngFor="let userData of allUserdetails">
    <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "user"]'></fa-icon>{{userData.UserName}}</div>
<div class="card-body">
    <form>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">S No.</th>
                    <th scope="col"><span>Category</span></th>
                    <th scope="col"><span>Quantity</span></th>
                    <th class="text-center" scope="col"><span>Action</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stockData of  userData.stock , let i=index ">
                    <td scope="row">{{i+1}}</td>
                    <td>{{stockData?.CategoryName}}</td>
                    <td>{{stockData?.Qty}}</td>
                    <td class="text-center"><button class="btn btn-success" (click)="viewStockDetails(stockData)">View Stock Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>
        
    </div>
</sb-card>