@import 'styles/variables.scss';

.btn-success{
    background-color: #1abc9c !important;
    border-color:  #1abc9c !important;
  }
  .btn-primary{
    background-color: #1abc9c !important;
    border-color:  #1abc9c !important;
  }

  .signup{
    color: #1abc9c !important;
  }