<sb-card>
    <div class="card-header">
        <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>View Stock
    </div>
    <div class="card-body">
        <form>
            <div class="col-sm-4">
                <label class="form-label"><b> Item category </b><span
                        style="color:red">*</span></label>
                <div class="input-group">
                    <!-- <select name="category" id="category"   class="form-control" formControlName="category"
                    (change)="getStockItems()" >
                        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                    </select> -->
                    <select name="category" id="category" class="form-control" (change)="getStockItems()"   required>
                        <option value="" disabled selected hidden> Please Select Item Category...</option>
                        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                      </select>
                   
                </div>
            </div>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">S No.</th>
                        <th scope="col"><span>Category</span></th>
                        <th scope="col"><span>Item</span></th>
                        <th scope="col"><span>Quantity</span></th>
                        <th scope="col"><span>Unit</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of stockItemList?.data">
                        <th scope="row">{{item.sno}}</th>
                        <td>{{item.CategotryName}}</td>
                        <td> {{item.ItemName}}</td>
                        <td>{{item.Qty}}</td>
                        <td>{{item.Unit}}</td>
                      
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="total" [(page)]="currentPage" [pageSize]="pageSize"
                    (pageChange)="nextPage($event)"></ngb-pagination><select class="custom-select" style="width: auto"
                    name="pageSize" [(ngModel)]="pageSize" (change)="pageSizeChanged()">
                    <option [ngValue]="5">5 items per page</option>
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="20">20 items per page</option>
                </select>
            </div>
        </form>
    </div>
</sb-card>