<sb-card>
    <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>View Receiving</div>
<div class="card-body">
    <form>
        <div class="form-group form-inline">Search By Receiving ID: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchText" (keyup)="searchIndent()"/>
            <span class="ml-3" *ngIf="this.isLoading">Loading...</span>
        </div>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">S No.</th>
                    <th scope="col"><span>Receiving ID</span></th>
                    <th scope="col"><span>Status</span></th>
                    <th scope="col"><span>Date of Indent</span></th>
                    <th scope="col"><span>Receiver Id</span></th>
                    <th  scope="col"><span>Action</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let indent of indentListResponse?.data">
                    <td scope="row">{{ indent.sno }}</td>
                    <td><b><ngb-highlight [result]="indent.OrderNo"></ngb-highlight></b></td>
                    <td><span [ngClass]="indent.status =='Unverified' ? 'badge badge-pill badge-danger' : indent.status =='In Progress' ? 'badge badge-pill badge-primary' : 'badge badge-pill badge-info'">{{indent.status}}</span></td>
                    <td><ngb-highlight [result]="indent.date"></ngb-highlight></td>
                    <td>Zone1</td>
                    <td><button type="button"  class="btn btn-success" (click)="getRecevingItem(indent.OrderID,ViewReceiving,indent)">{{indent.status=='Verified'? 'View' : 'Verify'}}</button> </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="total" [(page)]="currentPage" [pageSize]="pageSize" (pageChange)="nextPage($event)"></ngb-pagination
            ><select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize"  (change)="pageSizeChanged()">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
            </select>
        </div>
    </form>
        
    </div>
</sb-card>


<ng-template #ViewReceiving let-modal>
    <div class="modal-header">
        <h4 class="modal-title">RECEIVING - {{receivingObj.OrderNo}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">S No.</th>
                      <th scope="col"><span>Category</span></th>
                      <th scope="col"><span>Item</span></th>
                      <th scope="col"><span>Quantity</span></th>
                      <th  scope="col"><span>Unit</span></th>
                      <th  scope="col"><span>Have you received the items ?</span></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let indent of createIndentList?.data">
                      <th scope="row">{{ indent.sno }}</th>
                          <td>{{indent.item_category}}</td>
                          <td>  {{indent.item_name}} </td>
                      <td> <input type="text" [(ngModel)]="indent.item_qty" [disabled]="isApproveAccess || receivingObj.status=='Verified'"></td>
                      <td>{{indent.item_unit}}</td>
                      <td><input type="checkbox" [disabled]="isApproveAccess || receivingObj.status=='Verified'" [checked]="indent.item_status == 5" (click)="checkboxChange($event,indent)"></td>
                  </tr>
                  <div class="badge badge-pill badge-info " style="margin-top: 20px;" *ngIf="receivingObj.status=='Verified'">{{receivingObj.status}}</div>
              </tbody>
          </table>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" *ngIf="!isApproveAccess && receivingObj.status!='Verified'" (click)="ConfirmationModal(VerifyIndentConfirmBox)">Verify</button>&nbsp;
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
      </div>
  </ng-template>

  <ng-template class="confirm-box bottom:0" #VerifyIndentConfirmBox let-modal>
    <div class="modal-header">
      <h4 class="modal-title">RECEIVING - {{receivingObj.OrderNo}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-body">
<span>
    Have you actually received the items ?
</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-success" (click)="getcheckedVerified(createIndentList?.data); modal.close('Close click')">yes</button>&nbsp;
    </div>
  </ng-template>
  